@import '~bootstrap/scss/bootstrap';

.zoom-overflow-visible {
  overflow: visible;
}

@media (max-width: 767.98px) {
  .zoom-overflow-visible {
    overflow-x: auto;
  }
}

/* Zoom immagini */
.zoom-img, .zoom-icon {
  display: inline-block;
  transition: transform 0.25s ease;
  transform-origin: center center;
}

.zoom-img:hover, .zoom-icon:hover {
  transform: scale(5.6);
  position: relative;
  z-index: 10;
}