@import '~bootstrap/scss/bootstrap';

.zoom-overflow-visible {
  overflow: visible;
}

@media (max-width: 767.98px) {
  .zoom-overflow-visible {
    overflow-x: auto;
  }
}

/* Zoom miniature */
.zoom-img, .zoom-icon {
  display: inline-block;
  transition: transform 0.25s ease;
  transform-origin: center center;
}

.zoom-img:hover, .zoom-icon:hover {
  transform: scale(5.6);
  position: relative;
  z-index: 10;
}

/* zoom clickable*/
.zoom-hover, .zoom-hover-text{
    transition: transform 0.2s ease-in-out;
}

.zoom-hover:hover{
    transform: scale(1.1);
}

.zoom-hover-text:hover{
    transform: scale(1.06) translateX(1px);
}

.zoom-hover-text{
    display: inline-block;
    transform-origin: left center;
}

/* Badge dei domini contrasto*/
.domain-badge-icon {
  display: inline-block;
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  background-color: var(--bs-light);
  border: 1px solid var(--bs-secondary-border-subtle);
  text-shadow: 0 0 1px rgba(0, 0, 0, .85), 0 0 2px rgba(0, 0, 0, .45);
  -webkit-text-stroke: .35px rgba(0, 0, 0, .45);
}